<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>MyFlower</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ProductServlet</servlet-name>
		<servlet-class>tw.sure.controller.ProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductServlet</servlet-name>
		<url-pattern>/manager/ProductServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>tw.sure.controller.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/manager/UserServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>NewsServlet</servlet-name>
		<servlet-class>tw.sure.controller.NewsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewsServlet</servlet-name>
		<url-pattern>/manager/NewsServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CartServlet</servlet-name>
		<servlet-class>tw.sure.controller.CartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CartServlet</servlet-name>
		<url-pattern>/cartServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>OrderServlet</servlet-name>
		<servlet-class>tw.sure.controller.OrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderServlet</servlet-name>
		<url-pattern>/orderServlet</url-pattern>
	</servlet-mapping>

</web-app>